SAINS_TIN=TBC_SAINS_TAX_ID
SAINS_SST_NUMBER=TBC_SAINS_SST_NUMBER
SMS_GATEWAY_URL=TBC_SMS_GATEWAY_URL
SMS_GATEWAY_API_KEY=TBC_SMS_GATEWAY_API_KEY
APP_URL=TBC_SAINS_AR_HUB_CF_APP_URL
NODE_ENV=development
